* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-family: "Poppins", sans-seri;
}
span {
  font-weight: 600;
  color: black;
}

p {
  font-size: 0.7rem;
}

td,
th,
tr {
  font-size: 0.6rem;
}

label,
span {
  font-size: 0.8rem;
}
