* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-family: "Poppins", sans-seri;
}
span {
  font-weight: 600;
  color: black;
}

p {
  font-size: 0.5rem;
}

td,
th,
tr {
  font-size: 0.6rem;
}

label,
span {
  font-size: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.logo h3 {
  font-size: 2rem;
  font-weight: 800;
  color: yellow;
}

.logo img {
  width: 90px;
}

.label {
  margin-top: 1rem;
}
